.card {
  background-color: white;
  background-image: var(--card-bg);
  background-position: center center;
  background-size: cover;
  color: #111;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
  white-space: nowrap;
}

.white {
  color: white;
}

.number {
  font-size: var(--font-size-lg);
  text-align: center;
}

.white .number {
  text-shadow: calc(var(--spacing) / 10) calc(var(--spacing) / 10) 0
    rgba(0, 0, 0, 0.75);
}

.small {
  font-size: var(--font-size-normal);
}

.white .small {
  text-shadow: calc(var(--spacing) / 20) calc(var(--spacing) / 20) 0
    rgba(0, 0, 0, 0.75);
}

.left,
.right,
.bottom,
.top {
  position: absolute;
}

.left {
  left: calc(var(--spacing) / 2);
}

.right {
  right: calc(var(--spacing) / 2);
}

.bottom {
  bottom: calc(var(--spacing) / 2);
  transform: rotate(180deg);
}

.top {
  top: calc(var(--spacing) / 2);
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.guideline {
  bottom: calc(var(--spacing) / 2);
  left: calc(var(--spacing) / 2);
  position: absolute;
  right: calc(var(--spacing) / 2);
  top: calc(var(--spacing) / 2);
}

.guideline-1 {
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
  height: calc(var(--spacing) / 2);
  left: calc((var(--spacing) / 2) * -1);
  position: absolute;
  top: calc((var(--spacing) / 2) * -1);
  width: calc(var(--spacing) / 2);
}

.guideline-2 {
  border-bottom: 1px solid #111;
  border-left: 1px solid #111;
  height: calc(var(--spacing) / 2);
  position: absolute;
  right: calc((var(--spacing) / 2) * -1);
  top: calc((var(--spacing) / 2) * -1);
  width: calc(var(--spacing) / 2);
}

.guideline-3 {
  border-right: 1px solid #111;
  border-top: 1px solid #111;
  bottom: calc((var(--spacing) / 2) * -1);
  height: calc(var(--spacing) / 2);
  left: calc((var(--spacing) / 2) * -1);
  position: absolute;
  width: calc(var(--spacing) / 2);
}

.guideline-4 {
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  bottom: calc((var(--spacing) / 2) * -1);
  height: calc(var(--spacing) / 2);
  position: absolute;
  right: calc((var(--spacing) / 2) * -1);
  width: calc(var(--spacing) / 2);
}

.border {
  border: 1px solid #111;
}
