.card {
  background-color: white;
  background-image: var(--card-bg);
  background-position: center center;
  background-size: cover;
  border-radius: 0.5cm;
  border: calc(var(--spacing) / 4) solid #111;
  color: #111;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
  white-space: nowrap;
}

.white {
  color: white;
}

.number {
  font-size: var(--font-size-lg);
  text-align: center;
}

.number.white {
  text-shadow: calc(var(--spacing) / 10) calc(var(--spacing) / 10) 0
    rgba(0, 0, 0, 0.75);
}

.small-number {
  font-size: var(--font-size-normal);
}

.small-number.white {
  text-shadow: calc(var(--spacing) / 20) calc(var(--spacing) / 20) 0
    rgba(0, 0, 0, 0.75);
}

.left,
.right,
.bottom,
.top {
  position: absolute;
}

.left {
  left: calc(var(--spacing) / 4);
}

.right {
  right: calc(var(--spacing) / 4);
}

.bottom {
  bottom: calc(var(--spacing) / 4);
  transform: rotate(180deg);
}

.top {
  top: calc(var(--spacing) / 4);
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
