.card {
  background-color: white;
  background-image: var(--card-bg);
  background-position: center center;
  background-size: cover;
  border-radius: 0.5cm;
  border: 0.25cm solid #111;
  color: #111;
  font-weight: bold;
  height: 13cm;
  position: relative;
  width: 9cm;
  white-space: nowrap;
}

.white {
  color: white;
}

.number {
  font-size: 4cm;
  line-height: 13cm;
  text-align: center;
}

.number.white {
  text-shadow: 0.1cm 0.1cm 0 rgba(0, 0, 0, 0.75), 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.small-number {
  font-size: 1cm;
}

.small-number.white {
  text-shadow: 0.05cm 0.05cm 0 rgba(0, 0, 0, 0.75),
    0 0 0.25cm rgba(0, 0, 0, 0.5);
}

.left,
.right,
.bottom,
.top {
  position: absolute;
}

.left {
  left: 0.25cm;
}

.right {
  right: 0.25cm;
}

.bottom {
  bottom: 0.25cm;
  transform: rotate(180deg);
}

.top {
  top: 0.25cm;
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
