:root {
  --card-height: 9cm;
  --card-width: 6cm;
  --font-size-normal: 0.75cm;
  --font-size-lg: 2cm;
  --spacing: 1cm;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-synthesis: none;
  font-variant-numeric: tabular-nums;
  line-height: 1;
  margin: var(--spacing);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
}

h1 {
  text-align: center;
}

.box {
  margin: var(--spacing) 0;
}
